In [1]:
import pandas as pd
f = open("test_append.csv", "a")
f.write("First column,Second column")
f.close()

In [2]:
df = pd.read_csv("test_append.csv")
df

Empty DataFrame
Columns: [First column, Second column]
Index: []

In [3]:
df = df.append({"First column": "Test 1", "Second column": "Test 2"}, ignore_index = True)
df

  First column Second column
0       Test 1        Test 2

In [4]:
df.to_csv("test_append.csv", index = False)

In [5]:
df = pd.read_csv("test_append.csv")
df

  First column Second column
0       Test 1        Test 2

In [6]:
df = df.append({"First column": "Test 3", "Second column": "Test 4"}, ignore_index = True)
df

  First column Second column
0       Test 1        Test 2
1       Test 3        Test 4

In [7]:
df.to_csv("test_append.csv", index = False)

In [8]:
df = pd.read_csv("test_append.csv")
df

  First column Second column
0       Test 1        Test 2
1       Test 3        Test 4